<%- include('partials/header'); -%>

    <header>
        <% if (user) { %>
            <div class="create"><a href="/createJob">Create a Job</a></div>
            <% } else { %>
                <% } %>
                    <div class="home">
                        <h1>Dashboard</h1>
                        <p>Welcome to our Work Dashboard!</p>
                        <p>Connect for complete access to your Dashboard</p>
                    </div>
    </header>
    <footer>Copyright 2023 - Maryna Ozirska & Jérôme De Roover</footer>

    </body>

    </html>