<%- include('partials/header'); -%>

    <header>
        <div>
            <h1>Dashboard</h1>
            <p>Welcome to our Work Dashboard!</p>
            <p>Connect for complete access to your Dashboard</p>
        </div>
    </header>
    <footer>Copyright 2023 - Maryna Ozirska & Jérôme De Roover</footer>

    </body>

    </html>