<%- include('partials/header'); -%>

<form action="/signup" enctype="multipart/form-data" class="signup_form">
  <h2>Register</h2>
  <div>
    <label for="firstName">Firstname</label>
    <input type="text" name="firstName" required />
    <div class="firstName error"></div>
    <label for="lastName">Lastname</label>
    <input type="text" name="lastName" required />
    <div class="lastName error"></div>
  </div>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="gitHub">Github</label>
  <input type="text" name="gitHub" required />
  <div class="gitHub error"></div>
  <div class="files">
    <label for="profilePicture">Profile picture</label>
    <input type="file" name="profilePicture" accept="image/*" required />
    <div class="profilePicture error"></div>

    <label for="pdfFile">CV ( PDF )</label>
    <input type="file" required name="pdfFile" accept=".pdf" />
    <div class="pdfFile error"></div>
  </div>
  <label for="password">Password</label>
  <input type="password" name="password" />
  <div class="password error"></div>
  <label for="confirmPassword">Confirm password</label>
  <input type="password" name="confirmPassword" />
  <div class="confirmPassword error"></div>
  <div class="registerBtn">
    <button>Register</button>
  </div>
</form>
<div class="alreadyRegister">
  <p>Already register ?</p>
  <a href="/login">Login</a>
</div>

<script>
  const form = document.querySelector(".signup_form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // Create a FormData object
    const formData = new FormData(form);

    formData.forEach((value, key) => {
      console.log(`${key}: ${value}`);
    });

    try {
      const res = await fetch("/signup", {
        method: "POST",
        body: formData,
      });
      const data = await res.json();
      console.log(data);

      if (data.success) {
        location.assign("/");
      }
    } catch (err) {
      console.log("ERR LINE64");
      console.log(err);
    }
  });
</script>
