
.home {
  span {
    color: black;
  }
  a {
    color: black;
  }
}

.createJob_form {
  label {
    font-size: 2rem;
  }
}

h4 {
  font-size: 2rem;
  text-decoration: underline;
}

.create{
  margin-top: -2rem;
}
