h1 {
  color: red;
  font-family: poppins;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
}

.profil {
  margin-left: 5rem;
}

h2 {
  margin-top: 1rem;
}

.return {
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: poppins;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;

  button {
    height: 5rem;
  }
}
